pipeline/ControlFlow1_PL.json
{
	"name": "ControlFlow1_PL",
	"properties": {
		"activities": [
			{
				"name": "Lookup_AC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable14",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LogTableName_AC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogTableNames]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@activity('Lookup_AC').output.firstRow.name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-10-26T03:21:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}